PORT=8080
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/aura?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_change_in_production
GOOGLE_CLIENT_ID=686445090372-17hhr1l6fsbjots3e8kuse904cv9rq72.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
NODE_ENV=development
FRONTEND_URL=http://localhost:8080
